body{
margin:0;
font-family:Segoe UI;
}


/* BACKGROUND */

.login-container{

height:100vh;

display:flex;

align-items:center;

justify-content:center;

background-size:cover;

background-position:center;

background-repeat:no-repeat;

position:relative;

}


/* DARK OVERLAY */

.overlay{

position:absolute;

width:100%;

height:100%;

background:rgba(0,0,0,0.55);

top:0;
left:0;

}


/* LOGIN BOX */

.login-box{

position:relative;

z-index:1;

width:420px;

background:linear-gradient(135deg,#0b2535,#0f2f40);

padding:35px;

border-radius:14px;

text-align:center;

color:white;

box-shadow:0 20px 60px rgba(0,0,0,0.6);

}


/* LOGO */

.login-logo{

width:65px;

margin-bottom:15px;

}


/* COMPANY */

.company-name{

font-size:18px;

font-weight:600;

}

.company-sub{

font-size:13px;

opacity:.8;

}

.company-desc{

font-size:12px;

opacity:.6;

margin-bottom:25px;

}


/* INPUT */

.input-group{

text-align:left;

margin-bottom:18px;

}

.input-group label{

font-size:13px;

opacity:.8;

}

.input-group input{

width:100%;

padding:12px;

margin-top:5px;

border-radius:8px;

border:1px solid rgba(255,255,255,0.2);

background:rgba(255,255,255,0.08);

color:white;

outline:none;

}

.input-group input:focus{

border:1px solid #00ffc8;

}


/* BUTTON */

.login-btn{

width:100%;

padding:12px;

margin-top:10px;

border:none;

border-radius:30px;

background:linear-gradient(90deg,#ffb300,#ff8f00);

font-weight:600;

cursor:pointer;

}

.login-btn:hover{

opacity:.9;

}


/* ERROR */

.error{

color:#ff5252;

margin-bottom:10px;

font-size:13px;

}


/* FOOTER */

.footer{

margin-top:20px;

font-size:11px;

opacity:.6;

}
